
body {
  margin: 0;
  
  font-family: 'Merriweather', serif;
  font-size: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
h1{
  padding :30px ;
}

p {
  
  font-size: 20px;
  
}

section {
  
  width: 100%;
 background-color: sandybrown;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 40px;
  margin-left: 20px;
  ;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px whitesmoke;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 1s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 90%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 96%,
        100% 100%,
        0% 100%);
  }

}
.button-area span{
  margin: 20px auto;
  font-size: 20px;

  display: none;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
   
  border: 1px solid black;
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  color: white;
  background-color: #111;
}
/* #status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
} */
 

 

nav {
  height: 80px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
}

nav .logo {
  font-size: 27px;
  font-weight: 600;
  color: #FBB741;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {

  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #111;
  padding: 8px 10px;
  border-radius: 5px;
}

nav ul li a:hover {

  color: black;
  background: #fff;
  transition: all 0.4s ease-out;

}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

#click {
  display: none;
}


.bottom-container {
  background-color: #66BFBF;
  margin-top:0;
  padding: 50px 0 50px 0;
  text-align: center;
}
/* phone */
@media(max-width:900px) {
  

  nav .menu-btn i {
    display: block;

  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    left: -100%;
    top: 80px;
    background: #111;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    transition-duration: 0.7s;
    z-index: 9999;

  }

  #click:checked~ul {
    left: 0%;
  }

  nav ul li {
    margin: 40px 0;
  }

  nav ul li a {
    font-size: 20px;
    display: block;

  }

  nav ul li a:hover,
  nav ul li a.active {
    color: cyan;
    background: none;
    transition: all 0.7s ease;

  }
}
