@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}



h1 {
  color: #333;
  text-align: center;
}

.skills-section {
  margin-bottom: 40px;
}

.skills-heading {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-item {
  width: 150px;
  height: 150px;
  
  border-radius: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: brown;
}

.skills-item:hover {
  transform: scale(1.1);
}

.skills-item__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.skills-item__percentage {
  font-size: 24px;
  font-weight: bold;
  color:  #D2B48C;
}

.soft-skills-section {
  margin-top: 40px;
}

.soft-skills-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.soft-skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.soft-skills-item {
  width: 200px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.soft-skills-item:hover {
  transform: scale(1.1);
}

.soft-skills-item__name {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.soft-skills-item__description {
  font-size: 14px;
  color: #777;
}


nav {
  height: 80px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
}

nav .logo {
  font-size: 27px;
  font-weight: 600;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
  z-index: 9999;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {

  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #111;
  padding: 8px 10px;
  border-radius: 5px;
}

nav ul li a:hover {

  color: #1b1b1b;
  background: #fff;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

#click {
  display: none;

}
 

/* #303F9F */
@media(max-width:900px) {
 

  nav .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    left: -100%;
    top: 80px;
    background: #111;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    transition-duration: 0.7s;

  }

  #click:checked~ul {
    left: 0%;
  }

  nav ul li {
    margin: 40px 0;

  }

  nav ul li a {
    font-size: 20px;
    display: block;

  }

  nav ul li a:hover,
  nav ul li a.active {
    color: cyan;
    background: none;

  }
  .skills-item {
    width: 120px;
    height: 120px;
  }

  .skills-item__name {
    font-size: 16px;
  }

  .skills-item__percentage {
    font-size: 20px;
  }



}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 40px;
  margin-left: 20px;
  ;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px whitesmoke;

}
.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 1s ease-in-out infinite;

}
.bottom-container {
  background-color: #66BFBF;
  margin-top: 12px;
  padding: 50px 0 50px 0;
}